* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins";
}
html,
body {
    display: grid;
    height: 100%;
    width: 100%;
    place-items: center;
    background: #282a36;
}
::selection {
    background: #1a75ff;
    color: #fff;
}
.wrapper {
    overflow: hidden;
    max-width: 390px;
    background: #fff;
    padding: 30px;
    border-radius: 15px;
}
.wrapper .title-text {
    display: flex;
    width: 200%;
}
.wrapper .title {
    width: 50%;
    font-size: 35px;
    font-weight: 600;
    text-align: center;
}
.wrapper .slide-controls {
    position: relative;
    display: flex;
    height: 50px;
    width: 100%;
    overflow: hidden;
    margin: 30px 0 10px 0;
    justify-content: space-between;
    border: 1px solid lightgray;
    border-radius: 15px;
}
.slide-controls.slide {
    height: 100%;
    width: 100%;
    color: #fff;
    font-size: 18px;
    font-weight: 500;
    text-align: center;
    line-height: 48px;
    cursor: pointer;
    z-index: 1;
    transition: all 0.6s ease;
}
.slide-controls label.signup {
    color: #000;
}
.slide-controls .slider-tab {
    position: absolute;
    height: 100%;
    width: 50%;
    left: 0;
    z-index: 0;
    border-radius: 15px;
}
input[type="radio"] {
    display: none;
}
#signup:checked ~ .slider-tab {
    left: 50%;
}
#signup:checked ~ label.signup {
    color: #fff;
    cursor: default;
    user-select: none;
}
#signup:checked ~ label.login {
    color:#000;
}
#login.checked ~ label.login {
    cursor: default;
    user-select: none;
}
.wrapper .form-container {
    width: 100%;
    overflow: hidden;
}
.form-container .form-inner {
    display: flex;
    width: 200%;
}
.form-container .form-inner form {
    width: 50%;
}
.form-inner form.field {
    height: 50px;
    width: 100px;
    margin-top: 20px;
}
.form-inner form .field input {
    height: 100%;
    width: 100%;
    outline: none;
    padding-left: 15px;
    border-radius: 15px;
    border: 1px solid lightgray;
    border-bottom-width: 2px;
    font-size: 17px;
    transition: all 0.3s ease;
}